.navbar_header {
  align-items: stretch;
  background-color: rgb(9, 85, 40);
  box-shadow: 2px 3px 4px rgb(143, 143, 143);
  display: flex;
  height: 60px;
}

.navbar_header button {
  all: unset;
  color: white;
  font-size: 20px;
}

.navbar_header .navbar__product_button {
  display: flex;
}

.navbar_header .navbar__product_button button {
  text-align: center;
  text-decoration: solid;
  width: 250px;
}

.navbar_header .navbar__orders_button {
  display: flex;
}

.navbar_header .navbar__orders_button button {
  text-align: center;
  text-decoration: solid;
  width: 250px;
}

.navbar_header .navbar__user_name {
  align-items: center;
  background-color: rgb(71, 49, 167);
  display: flex;
  justify-content: center;
  margin-left: auto;
  width: 200px;
}

.navbar_header .navbar__user_name p {
  color: rgb(247, 247, 247);
  font-size: 20px;
  margin: 0;
}

.navbar_header .navbar__logout_button {
  background-color: rgb(16, 111, 194);
  display: flex;
}

.navbar_header .navbar__logout_button button {
  text-align: center;
  width: 120px;
}
