.navbar_header {
  align-items: stretch;
  background-color: rgb(49, 105, 72);
  box-shadow: 1px 2px 4px rgb(143, 143, 143);
  display: flex;
  height: 60px;
}

.navbar_header button {
  all: unset;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.navbar_header .navbar__product_button {
  display: flex;
}

.navbar_header .navbar__product_button button {
  text-align: center;
  width: 18vw;
}

.navbar_header .navbar__orders_button {
  display: flex;
}

.navbar_header .navbar__orders_button button {
  text-align: center;
  width: 18vw;
}

.navbar_header .navbar__user_name {
  align-items: center;
  background-color: rgb(71, 49, 167);
  display: flex;
  justify-content: center;
  margin: 0 0 0 auto;
  text-align: center;
  width: 300px;
}

.navbar_header .navbar__user_name p {
  color: rgb(247, 247, 247);
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.navbar_header .navbar__logout_button {
  background-color: rgb(16, 111, 194);
  display: flex;
}

.navbar_header .navbar__logout_button button {
  text-align: center;
  width: 10vw;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and ( max-width : 600px ) {

  .navbar_header {
    height: 55px;
  }

  .navbar__product_button {
    max-height: 100%;
  }

  .navbar__product_button button {
    background-image: url('../images/beericon.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 9vw 9vw;
    font-size: 0;
  }

  .navbar__orders_button button {
    background-image: url('../images/ordersicon.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10vw 10vw;
    font-size: 0;
  }

  .navbar_header .navbar__logout_button button {
    background-image: url('../images/logouticon.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 6vw 6vw;
    font-size: 0;
  }

  .navbar__logout_button {
    width: 10vw;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and ( min-width : 600px ) {

  .navbar__product_button button {
    font-size: 2vw;
  }

  .navbar__orders_button button {
    font-size: 2vw;
  }

}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and ( min-width : 992px ) {

  .navbar__product_button button {
    font-size: 20px;
  }

  .navbar__orders_button button {
    font-size: 20px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and ( min-width : 1200px ) {

  .navbar__logout_button {
    width: 120px;
  }

}
