.navbar_header {
  align-items: stretch;
  background-color: rgb(9, 85, 40);
  box-shadow: 2px 3px 4px rgb(143, 143, 143);
  display: flex;
  height: 60px;
}

.navbar_header button {
  all: unset;
  color: white;
  font-size: 20px;
}

.navbar_header .navbar__product_button {
  display: flex;
}

.navbar_header .navbar__product_button button {
  font-weight: 500;
  text-align: center;
  width: 18vw;
}

.navbar_header .navbar__orders_button {
  display: flex;
}

.navbar_header .navbar__orders_button button {
  font-weight: 500;
  text-align: center;
  width: 18vw;
}

.navbar_header .navbar__user_name {
  align-items: center;
  background-color: rgb(71, 49, 167);
  display: flex;
  justify-content: center;
  margin: 0 0 0 auto;
  text-align: center;
  width: 20vw;
}

.navbar_header .navbar__user_name p {
  color: rgb(247, 247, 247);
  font-size: 1.5vmax;
  margin: 0;
}

.navbar_header .navbar__logout_button {
  background-color: rgb(16, 111, 194);
  display: flex;
}

.navbar_header .navbar__logout_button button {
  font-size: 1.3vmax;
  text-align: center;
  width: 8vw;
}

@media only screen and ( max-width : 768px ) {

  .navbar__product_button button {
    font-size: 2vw;
  }

  .navbar__orders_button button {
    font-size: 2vw;
  }

  .navbar__logout_button button {
    font-size: 2vw;
  }

}

@media only screen and ( max-width : 600px ) {

  .navbar__orders_button button {
    font-size: 2.8vw;
  }

  .navbar__product_button button {
    font-size: 2.8vw;
  }

}

@media only screen and ( max-width : 420px ) {

  .navbar_header {
    height: 45px;
  }

  .navbar__orders_button {
    background-color: rgb(9, 85, 40);
    border-radius: 35%;
    height: 13vw;
    position: fixed;
    right: 70%;
    top: 93%;
    width: 13vw;
    z-index: 1;
  }

  .navbar__product_button {
    background-color: rgb(9, 85, 40);
    border-radius: 35%;
    height: 13vw;
    position: fixed;
    right: 85%;
    top: 93%;
    width: 13vw;
    z-index: 1;
  }

  .navbar__product_button button {
    background-image: url('../images/beericon.png');
    background-size: cover;
    font-size: 0;
    height: 100%;
  }

  .navbar__orders_button button {
    background-image: url('../images/ordersicon.png');
    background-size: cover;
    font-size: 0;
    height: 100%;
  }

  .navbar__user_name {
    margin: 0 auto 0 0;
  }

  .navbar__logout_button button {
    font-size: 5vw;
    margin: auto;
  }

  .navbar__logout_button {
    width: 12vw;
  }

}
